# requirements.txt

streamlit
openai
python-dotenv
requests
azure-core
streamlit-lottie
streamlit-option-menu
PyMuPDF
python-docx
docx2txt
tiktoken
gunicorn

# Specify compatible Python version (informational only)
# Requires: Python >= 3.9
# Note: This file is for managing dependencies in a Python project.
# Ensure to run `pip install -r requirements.txt` to install the dependencies.
